/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 12px;
}

.header {
    width: 1296px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
}

.header h1 a {
    background-image: url(images/logo.svg);
    width: 90px;
    height: 40px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 480px;
}

.menu a {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: black;
    text-decoration: none;
}

.menu a:hover {
    font-weight: 600;
    border: solid 2px gray;
    border-style: outset;
}

.banner {
    background: rgba(250, 250, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.qoute {
    width: 670px;
    height: 192px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qoute h1::before {
    content: '';
    width: 72px;
    height: 72px;
    background-image: url(images/quote-right.png);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.qoute h1::after {
    content: '';
    width: 72px;
    height: 72px;
    background-image: url(images/quote-right.png);
    position: absolute;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
}

.qoute h1 {
    font-size: 24px;
    text-align: center;
}

.mark {
    position: relative;
}

.mark img {
    position: absolute;
    bottom: 0px;
    right: -16px;
}

.bottom-banner {
    display: flex;
    justify-content: space-between;
    max-width: 636px;
    margin-top: 24px;
}

.bottom-banner .item {
    width: 46.8%;
    text-align: center;
}

.bottom-banner .item h2 {
    color: rgba(91, 91, 91, 1);

}

.border-bottom::after {
    content: '';
    width: 24px;
    border-bottom: solid 2px rgba(193, 193, 193, 1);
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    margin-top: 4px;
}

.bottom-banner .item p {
    color: rgba(59, 59, 59, 1);
}

.content {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -2px;
}

.card img {
    border-radius: 2%;
}

.card {
    width: (50% - 12px);
    margin-bottom: 80px;
}

.card h1 {
    font-size: 28px;
    font-weight: 700;
    color: rgba(59, 59, 59, 1);
    margin-bottom: 8px;
    margin-top: 16px;
}

.card p {
    color: rgba(145, 145, 145, 1);
    margin-bottom: 24px;
}

.card a {
    background: rgba(241, 241, 241, 1);
    text-decoration: none;
    color: rgba(59, 59, 59, 1);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 15px;
}

.tag {
    display: flex;
    gap: 16px;
}

.navigator ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    width: 152px;
}

.pages a {
    text-decoration: none;
    color: rgba(59, 59, 59, 1);
    font-size: 24px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.pages a:hover {
    background: black;
    color: aliceblue;
    border-radius: 15%;
}

.footer {
    background-image: url(images/footer-bg-lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-content {
    display: flex;
    width: 67.5%;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    flex-direction: column;

}

.footer-left img {
    width: 120px;
    height: 54px;
}

.footer-left p {
    font-size: 20px;
    margin: 24px 0;
}

.footer-left a {
    font-size: 20px;
    text-decoration: none;
    color: rgba(145, 145, 145, 1);
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-list li {
    display: flex;

}

.form-link a {
    width: 306px;
    padding: 8px 24px;
    border: dotted 1px rgba(193, 193, 193, 1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(0, 0, 0, 1);
    color: aliceblue;
}

.social-media a {
    background: rgba(255, 255, 255, 1);
    color: rgba(59, 59, 59, 1);
    width: 306px;
    padding: 8px 24px;
    border: dotted 1px rgba(193, 193, 193, 1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-list a {
    font-size: 20px;
    text-decoration: none;
}